body { 
	padding-top: 65px; 
	background-color: #ffe6cc;
}

hr {
	margin: 0 auto;
}

.navbar-fixed-top, .navbar-default .navbar-nav>li>a {
	background-color: #ff9c33;
	color: black;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: #ffe6cc;
	color: black;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.content {
	margin: 15px auto;
	background-color: #ff9c33;
	color: black;
	padding: 5px 10px;
}
